.movie-card {
  background: #FDFDFD;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}

.movie-card__info-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  height: 68px;
}

.movie-card__image {
  width: 100%;
  display: block;
}

.movie-card__title {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  margin: 0;
  padding: 14px 0 9px 14px;
}

.movie-card__subtitle {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #A0A0A0;
  margin: 0;
  padding: 0 0 14px 14px;
}

.movie-card__button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  margin: 14px 19px 0 0;
  cursor: pointer;
}

.movie-card__button_active {
  background-color: #2BE080;
  background-image: url(../../images/save-icon_active.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.movie-card__button_inactive {
  background-color: #F9F9F9;
  background-image: url(../../images/save-icon_inactive.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.movie-card__button_delete {
  background-color: #F9F9F9;
  background-image: url(../../images/delete-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
}