.nav__container {
  display: none;
}

.nav__container__movies {
  display: flex;
  gap: 16px;
}

.nav__movies {
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: right;  
  color: #000;
  transition-property: opacity;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.nav__movies:hover {
  opacity: .7;
}

.nav__movies_active {
  font-weight: 500;
}

.nav__movies_active:hover {
  font-weight: 500;
}

.nav__profile {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-decoration: none;
  background: #FFFFFF;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 40px;
  width: 100px;
  height: 32px;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: end;
}

.nav__account {
  color: #000;
  font-weight: 500;
  font-size: 13px;  
  line-height: 12px;
  margin: 0;
  padding-left: 11px;
  transition-property: opacity;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.nav__account:hover {
  opacity: .7;
}

.nav__icon {
  background: transparent url(../../images/AccountIcon.svg) center no-repeat;
  width: 26px;
  height: 26px;
  background-color: #F9F9F9;
  border-radius: 50%;
  margin-right: 3px;
}

.nav__menu-button {
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  background: transparent url(../../images/menu_icon.svg) center no-repeat;
  width: 44px;
  height: 44px;
  border: 0;
  padding: 0;
}

@media all and (min-width: 1025px) {
  .nav__container {
    display: flex;
    width: 660px;
    align-items: center;
    justify-content: space-between;
  }

  .nav__menu-button {
    display: none;
  }
  
}

@media all and (max-width: 719px) {
  .nav__menu-button {
    background: transparent url(../../images/menu_icon_small.svg) center no-repeat;
    width: 40px;
    height: 43px;
  }
}