.portfolio {
  padding: 125px 70px;
}

.portfolio__title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
  margin: 0;
}

.portfolio__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 50px 0 0;
  margin: 0;
}
.portfolio__list_item {
  border-bottom: 1px solid  #E8E8E8;
}

.portfolio__list_link {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: space-between;
  transition-property: opacity;
  transition-duration: .2s;
  transition-timing-function: linear;
}
    
.portfolio__list_link:hover {
  opacity: .7;
}

.portfolio__list_icon {
  background: url(../../images/link_icon.svg) no-repeat center;
  width: 29px;
  height: 60px;
  margin: 0;
}
