.page-notfound {
  display: flex;
  flex-direction: column;
  color: #000;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 0 0 60px;
}

.page-notfound__heading {
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  text-align: center;
  margin: 268px 0 0;
  padding-bottom: 5px;
}

.page-notfound__information {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 0;
}

.page-notfound__button {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #2BE080;
  margin: 184px 0 0;
  border: 0;
  background-color: #fff;
  cursor: pointer;
  transition-property: opacity;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.page-notfound__button:hover {
  opacity: .7;
}

@media all and (min-width: 1025px) {
  .page-notfound {
    min-height: 100vh;
  }
}

@media all and (min-width: 720px) and (max-width: 1024px) {
  .page-notfound {
    padding: 408px 0 222px;
  }

  .page-notfound__heading {
    margin: 0;
  }
}

@media all and (max-width: 719px) {
  .page-notfound {
    padding: 329px 0 30px;
  }

  .page-notfound__heading {
    font-size: 80px;
    line-height: 97px;
    margin: 0;
    padding-bottom: 10px;
  }

  .page-notfound__information {
    font-size: 12px;
    line-height: 15px;
  }

  .page-notfound__link {
    font-size: 12px;
    line-height: 15px;
    margin: 284px 0 0;
  }
}
