.heading {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  margin: 0;
  padding-bottom: 21px;
}

.heading-container {
  border-bottom: 1px solid #000;
  margin: 0;
}

@media all and (max-width: 719px) {
  .heading {
    padding-bottom: 28px;
    font-size: 18px;
    line-height: 22px;
  }
}
