.popup {
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0, .5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .6s, visibility 0s 0.6s;
}

.popup_visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.6s, visibility 0s;
}

.popup__content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  position: relative;
  box-sizing: border-box;
  margin: 195px auto;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  padding: 34px 36px 37px;
  width: 430px;
  min-height: 330px;
}

.popup__close-button {
  background: transparent url(../../images/CloseIcon.svg) center no-repeat;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: absolute;
  min-width: 32px;
  min-height: 32px;
  top: -40px;
  right: -40px;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.popup__close-button:hover {
  opacity: .5;
}

.popup__registration-image {
  width: 120px;
  margin: 0 auto;
}

.popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.20;
  max-width: 330px;
  margin: 0 0 46px;
  color: #000;
}

.popup__title_info {
  margin: 32px 0 0;
  text-align: center;
}

@media all and (max-width: 719px) {
  .popup__title {
    max-width: 238px;
    font-size: 18px;
    line-height: 1.22;
  }
}

@media all and (max-width: 384px) {
  .popup__title_info {
    margin: 0;
    font-weight: 900;
    font-size: 20px; 
    line-height: 24px;
    text-align: center;
  }
}

@media all and (max-width: 719px) {
  .popup__close-button {
    background-size: 20px;
    top: -43px;
    right: -6px;
  }
}

@media all and (max-width: 719px) {
  .popup__content {
    max-width: 282px;
    padding: 25px 22px;
    margin: 123px auto;
  }
}