.header {
  display: flex;
  justify-content: space-between;
  padding: 18px 70px;
  background-color: #5C5C5C;
  margin: 0 auto;
}

.header_background_change {
  background-color: #fff;
  justify-content: space-between;
  padding-top: 21px 70px;
}

@media all and (min-width: 720px) and (max-width: 1024px) {
  .header {
    padding: 18px 30px;
  }
}

@media all and (max-width: 719px) {
  .header {
    padding: 18px 14px;
  }

  .header__logo {
    width: 38px;
    height: 38px;
  }
}
