.footer {
  background: #FAFAFA;
  padding: 75px 70px 0;
}

.footer__info {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #A0A0A0;
  padding-bottom: 20px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-top: 1px solid #E8E8E8;
}

.footer__copyright {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  padding: 0;
  margin: 0;
  color: #000;
}

.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.footer__links_link  {
  text-decoration: none;
  color: #000;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  transition-property: opacity;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.footer__links_link:hover {
  opacity: .7;
}
