.nav__auth {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav__auth_register {
  border: none;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  padding: 0;
  text-decoration: none;
}

.nav__auth_login {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 3px;
  width: 76px;
  height: 32px;
  background-color: #2BE080;
  color: #000;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  padding: 0;
  text-decoration: none;
}
