.techs {
  color: #000;
  padding: 100px 70px;
  background-color: #F5F5F5;
}

.techs__heading {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  margin: 0;
  padding-bottom: 23px;
}

.techs__title {
  margin: 0 auto;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  padding-top: 90px;
}

.techs__subtitle {
  margin: 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  max-width: 460px;
  padding-top: 26px;
}

.techs__list {
  list-style: none;
  padding-top: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.techs__list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 57px;
  background-color: #E8E8E8;
  border-radius: 10px;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.04em;
}

@media all and (min-width: 1025px) {
  .techs__list__item {
    width: 90px;
    height: 60px;
    font-size: 14px;
    line-height: 17px;
  } 
}

@media all and (min-width: 720px) and (max-width: 1024px) {
  .techs {
    padding: 90px 50px;
  }

  .techs__title {
    padding-top: 80px;
  }

  .techs__subtitle {
    padding-top: 22px;
  }

  .techs__list {
    padding: 83px 0 0;
  }

  .techs__list__item {
    width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: 15px;
  }
}

@media all and (max-width: 719px) {
  .techs {
    padding: 70px 18px;
    background-color: #fff;
  }

  .techs__title {
    padding-top: 60px;
    font-size: 30px;
    line-height: 36px;
  }

  .techs__subtitle {
    padding-top: 24px;
    font-size: 11px;
    line-height: 16px;
    max-width: 292px;
  }

  .techs__list {
    padding: 50px 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 90px);
  }
}